<section>
    <div class="grid grid-cols-3 gap-4">
        <div>
            <div class="bg-black rounded-md px-3 my-2">
                <h2 class="text-xl font-semibold py-5 text-white">Instructors</h2>
            </div>
            <div class="border border-gray-500 rounded-md min-h-[500px] px-5">
                <div class="border border-gray-300 p-3 rounded-md flex gap-5 hover:bg-gray-300 my-5">
                    <img src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                        alt="istructor image" class="rounded-full w-14 h-14 border-2 border-gray-500">
                    <div class="flex justify-between flex-grow items-center">
                        <div class="">
                            <h3 class="font-bold">Sanjay</h3>
                            <p class="font-medium">haii</p>
                        </div>
                        <span class="rounded-full bg-green-700 w-8 h-8 text-white flex justify-center items-center">
                            10
                        </span>
                    </div>
                </div>
                <div class="border border-gray-300 p-3 rounded-md flex gap-5 hover:bg-gray-300 my-5">
                    <img src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                        alt="istructor image" class="rounded-full w-14 h-14 border-2 border-gray-500">
                    <div class="flex justify-between flex-grow items-center">
                        <div class="">
                            <h3 class="font-bold">Sanjay</h3>
                            <p class="font-medium">haii</p>
                        </div>
                        <span class="rounded-full bg-green-700 w-8 h-8 text-white flex justify-center items-center">
                            10
                        </span>
                    </div>
                </div>
                <div class="border border-gray-300 p-3 rounded-md flex gap-5 hover:bg-gray-300 my-5">
                    <img src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                        alt="istructor image" class="rounded-full w-14 h-14 border-2 border-gray-500">
                    <div class="flex justify-between flex-grow items-center">
                        <div class="">
                            <h3 class="font-bold">Sanjay</h3>
                            <p class="font-medium">haii</p>
                        </div>
                        <span class="rounded-full bg-green-700 w-8 h-8 text-white flex justify-center items-center">
                            10
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-2">ljhf</div>
    </div>
</section>