<section>
    <div class="grid grid-cols-3 gap-4">
        <div>
            <div class="border border-gray-500 rounded-md px-3 mb-2">
                <h2 class="text-xl font-semibold py-5">Instructors</h2>
            </div>
            <div class="border border-gray-500 rounded-md px-5">
                <div class="border border-gray-500 p-3 rounded-md flex gap-5 hover:bg-gray-300 my-5">
                    <img src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                        alt="istructor image" class="rounded-full w-14 h-14 border-2 border-gray-500">
                    <div class="flex justify-between flex-grow items-center">
                        <div class="">
                            <h3 class="font-bold">Sanjay</h3>
                            <p class="font-medium">haii</p>
                        </div>
                        <span class="rounded-full bg-green-700 w-8 h-8 text-white flex justify-center items-center">
                            10
                        </span>
                    </div>
                </div>
                <div class="border border-gray-500 p-3 rounded-md flex gap-5 hover:bg-gray-300 my-5">
                    <img src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                        alt="istructor image" class="rounded-full w-14 h-14 border-2 border-gray-500">
                    <div class="flex justify-between flex-grow items-center">
                        <div class="">
                            <h3 class="font-bold">Sanjay</h3>
                            <p class="font-medium">haii</p>
                        </div>
                        <span class="rounded-full bg-green-700 w-8 h-8 text-white flex justify-center items-center">
                            10
                        </span>
                    </div>
                </div>
                <div class="border border-gray-500 p-3 rounded-md flex gap-5 hover:bg-gray-300 my-5">
                    <img src="https://thumbs.dreamstime.com/b/unknown-male-avatar-profile-image-businessman-vector-unknown-male-avatar-profile-image-businessman-vector-profile-179373829.jpg"
                        alt="istructor image" class="rounded-full w-14 h-14 border-2 border-gray-500">
                    <div class="flex justify-between flex-grow items-center">
                        <div class="">
                            <h3 class="font-bold">Sanjay</h3>
                            <p class="font-medium">haii</p>
                        </div>
                        <span class="rounded-full bg-green-700 w-8 h-8 text-white flex justify-center items-center">
                            10
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-2">
            <div class="flex-1 justify-between flex flex-col h-screen">
                <div class="flex sm:items-center justify-between p-2 border border-gray-200">
                    <div class="relative flex items-center gap-4">
                        <div class="relative">
                            <span class="absolute text-green-500 right-0 bottom-0">
                                <svg width="20" height="20">
                                    <circle cx="8" cy="8" r="8" fill="currentColor"></circle>
                                </svg>
                            </span>
                            <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                                alt="" class="w-10 h-10 rounded-full">
                        </div>
                        <div class="flex flex-col leading-tight">
                            <div class="text-2xl mt-1 flex items-center">
                                <span class="text-black text-lg font-semibold mr-3">Sanjay</span>
                            </div>
                            <span class="text-md text-gray-600">instructor</span>
                        </div>
                    </div>
                </div>
                <div id="messages"
                    class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
                    <!-- message loop -->
                    <ng-container *ngFor="let msg of messages">
                        <div class="chat-message">
                            <div class="flex items-end">
                                <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                                    <div><span
                                            class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">
                                            [{{ msg.name }}] : {{ msg.text }}
                                        </span></div>
                                </div>
                                <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                                    alt="My profile" class="w-6 h-6 rounded-full order-1">
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div class="chat-message">
                        <div class="flex items-end justify-end">
                            <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                                <div><span class="px-4 py-2 rounded-lg inline-block bg-blue-600 text-white ">Are you
                                        using
                                        sudo?</span></div>
                                <div><span
                                        class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">sdf</span>
                                </div>
                            </div>
                            <img src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                                alt="My profile" class="w-6 h-6 rounded-full order-2">
                        </div>
                    </div> -->
                </div>
                <div *ngIf="typigDisplay">{{typigDisplay || ''}}</div>
                <div class="border-t-2 border-gray-200 mb-2 sm:mb-0">
                    <div>
                        <label for="chat" class="sr-only">Your message</label>
                        <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                            <!-- <button type="button"
                                class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 20 18">
                                    <path fill="currentColor"
                                        d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z" />
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z" />
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z" />
                                </svg>
                                <span class="sr-only">Upload image</span>
                            </button> -->
                            <div class="absolute bottom-0">
                                <emoji-mart class="emoji-mart" (emojiSelect)="addEmoji($event)"
                                    *ngIf="isEmojiPickerVisible" title="Choose your emoji">
                                </emoji-mart>
                            </div>
                            <button type="button" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"
                                class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z" />
                                </svg>
                                <span class="sr-only">Add emoji</span>
                            </button>
                            <textarea id="chat" rows="1" name="chat" [(ngModel)]="textArea" (input)="emitTyping()"
                                class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 min-h-16"
                                placeholder="Your message..."></textarea>
                            <button type="button" (click)="sendMessage()"
                                class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                                <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                    <path
                                        d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                                </svg>
                                <span class="sr-only">Send message</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>