<!-- <pre>{{ dashboardData | json}}</pre> -->

<section class="grid grid-cols-3 gap-5">
    <div class="flex flex-col gap-5">
        <ng-container *ngFor="let item of dashboardData?.student">
            <ng-container *ngIf="item._id === false">
                <app-dashboard-box title="Inactive Students" [value]="item.count" icon="pi-user"
                    color="red"></app-dashboard-box>
            </ng-container>
            <ng-container *ngIf="item._id === true">
                <app-dashboard-box title="Active Students" [value]="item.count" icon="pi-user"
                    color="green"></app-dashboard-box>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let item of dashboardData?.instructor">
            <ng-container *ngIf="item._id === false">
                <app-dashboard-box title="Inactive Instructors" [value]="item.count" icon="pi-user"
                    color="red"></app-dashboard-box>
            </ng-container>
            <ng-container *ngIf="item._id === true">
                <app-dashboard-box title="Active Instructors" [value]="item.count" icon="pi-user"
                    color="green"></app-dashboard-box>
            </ng-container>
        </ng-container>

    </div>
    <div class="col-span-2">
        <app-graph [graphData]="dashboardData.graph"></app-graph>
    </div>
</section>