<!-- banner -->
<section class="banner w-full py-16">
    <h1 class="text-center font-bold text-4xl md:text-6xl">
        Learn & Lead
        <br>
        Live life to the fullest, and focus on the positive.
    </h1>
    <p class="text-center text-lg py-7">
        Unleash learning's potential, bridging gaps with innovation, and turn
        every moment into growth.
    </p>
    <!-- <app-client-search-bar></app-client-search-bar> -->
</section>

<!-- site information such as counts -->
<div class="grid grid-cols-3 gap-4">
    <div
        class="flex items-center justify-center bg-gradient-to-r from-blue-500 to-green-500 rounded-lg h-40 text-white shadow-md">
        <div class="text-center">
            <h4 class="text-3xl font-semibold tracking-wide">
                {{ homeData.allCounts.courseCount || 0 }}
            </h4>
            <p class="text-lg">Live Courses</p>
        </div>
    </div>
    <div
        class="flex items-center justify-center bg-gradient-to-r from-pink-500 to-yellow-500 rounded-lg h-40 text-white shadow-md">
        <div class="text-center">
            <h4 class="text-3xl font-semibold tracking-wide">
                {{ homeData.allCounts.categoryCount || 0 }}
            </h4>
            <p class="text-lg">Category</p>
        </div>
    </div>
    <div
        class="flex items-center justify-center bg-gradient-to-r from-purple-500 to-indigo-500 rounded-lg h-40 text-white shadow-md">
        <div class="text-center">
            <h4 class="text-3xl font-semibold tracking-wide">
                {{ homeData.allCounts.ratingCount || 0 }}
            </h4>
            <p class="text-lg">Rating and Reviews</p>
        </div>
    </div>
    <div
        class="col-span-2 flex items-center justify-center bg-gradient-to-r from-red-500 to-orange-500 rounded-lg h-40 text-white shadow-md">
        <div class="text-center">
            <h4 class="text-3xl font-semibold tracking-wide">
                {{ homeData.allCounts.instructorCount || 0 }}
            </h4>
            <p class="text-lg">Professional instructors</p>
        </div>
    </div>
    <div
        class="flex items-center justify-center bg-gradient-to-r from-teal-500 to-blue-500 rounded-lg h-40 text-white shadow-md">
        <div class="text-center">
            <h4 class="text-3xl font-semibold tracking-wide">
                {{ homeData.allCounts.studentCount || 0 }}
            </h4>
            <p class="text-lg">Students</p>
        </div>
    </div>
</div>


<!-- popular courses -->
<section class="container px-5 py-10 mx-auto rounded-lg my-10">
    <div class="mb-20">
        <h1 class="text-2xl font-semibold border-b pb-2 border-b-black">
            Popular Courses
        </h1>
    </div>

    <!-- Courses -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <ng-container *ngFor="let Course of homeData.courses">
            <app-course-card [course]="Course"></app-course-card>
        </ng-container>
    </div>
    <!-- Courses -->

    <div class="flex justify-center my-5">
        <button [routerLink]="['/courses']"
            class="px-8 h-12 text-white border-2 bg-black rounded-lg hover:bg-white hover:text-black hover:border-black">
            More
        </button>
    </div>
</section>

<!-- how E-learn works -->