<div class="flex items-center">
  <div class="flex-grow">
    <app-client-search-bar (SearchEvent)="SearchData($event)"></app-client-search-bar>
  </div>
</div>




<section class="flex flex-col md:flex-row">
  <!-- filter side -->
  <div class="md:w-1/4 bg-white p-2 rounded-md mb-4 md:mb-0">
    <div class="p-3 border-2 border-gray-200 rounded-lg"
      style="box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);">
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Sort"
        (onChange)="onDropdownChange($event)" class="ng-dirty"
        [style]="{'width': '100%', 'margin-bottom': '5px', 'padding' : '8px', 'font-weight' : 'bold'}">
      </p-dropdown>
      <app-filter (fillteredCourse)="filteredEvent($event)"></app-filter>
    </div>
  </div>

  <!-- course side -->
  <div class="w-full md:w-3/4 bg-white p-2  rounded-md">
    <div class="p-3 border-2 border-gray-200 rounded-lg"
      style="box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);">
      <div *ngIf="result" class="my-3">
        Search result for: <span class="font-semibold">{{ result }}</span>
      </div>
      <!-- {{ filteredCourses | async | json }} -->
      <div class="text-center py-20" *ngIf="searchedCourses.length < 1">
        <p>No contents to display</p>
      </div>
      <!-- Courses -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <ng-container
          *ngFor="let Course of searchedCourses | paginate: { itemsPerPage: 9, currentPage: p }; trackBy: courseTrackBy">
          <app-course-card [course]="Course"></app-course-card>
        </ng-container>
      </div>

      <!-- pagination controls -->
      <ng-container *ngIf="searchedCourses.length > 0">
        <div class="flex justify-end">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </ng-container>

    </div>
  </div>
</section>