<app-client-search-bar (SearchEvent)="SearchData($event)"></app-client-search-bar>

<section class="md:px-10 px-5 flex flex-col md:flex-row">
  <!-- filter side -->
  <div class="md:w-1/4 bg-white p-6 rounded-md mb-4 md:mb-0">
    <div class="p-3 shadow-xl">
      <app-filter (fillteredCourse)="filteredEvent($event)"></app-filter>
    </div>
  </div>
  <!-- course side -->
  <div class="w-full md:w-3/4 bg-white p-6  rounded-md">
    <div class="p-3 shadow-xl">
      <div *ngIf="result" class="my-3">
        Search result for: <span class="font-semibold">{{ result }}</span>
      </div>
      <!-- {{ filteredCourses | async | json }} -->
      <div class="text-center py-20" *ngIf="searchedCourses.length < 1">
        <p>No contents to display</p>
      </div>
      <!-- Courses -->
      <app-course-card [Courses]="searchedCourses"></app-course-card>
      <!-- Courses -->
    </div>
  </div>
</section>