<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="md:col-span-2">
        <video width="100%" height="800" controls *ngIf="activeVideo">
            <source [src]="url + activeVideo" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>Video loaded: {{ dataLoaded }}</p>
        <p>Video started: {{ videoStarted }}</p>
    </div>
    <div>
        <p-accordion [activeIndex]="activeIndex">
            <ng-container *ngFor="let item of chapters; let i = index">
                <p-accordionTab header="Chapter {{ i + 1 }}" class="cursor-pointer">
                    <h3 class="text-md text-black font-semibold" (click)="changeActiveVideo(item.file)">
                        {{ item.title }}
                    </h3>
                    <p class="text-sm">
                        {{ item.description | truncate: 200 }}
                    </p>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </div>
</div>