
<!-- {{ courses | json }} -->

<div class="container mx-auto py-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-4">

      <div *ngFor="let course of courses" class="w-full max-w-sm mx-auto rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ course.courseName }}</div>
          <p class="text-gray-700 text-base">
            {{ course.description }}
          </p>
          <p class="text-gray-700 text-base">
            {{ course.price }}
          </p>
        </div>
        <!-- <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div> -->
      </div>

  </div>
</div>