<section class="bg-gray-100 p-10 h-screen">
  <h1 class="text-xl font-bold uppercase border-b-2 border-b-gray-300 pb-2">
    Instructor Courses
  </h1>

  <div class="pt-5">
    <!-- No Data -->
    <div class="h-screen flex justify-center items-center align-middle" *ngIf="courses.length < 1">
      <div class="flex flex-col items-center gap-5">
        <p class="text-lg font-semibold">No Course to display</p>
        <p-button label="Create Course" [routerLink]="['/instructor/create']" routerLinkActive="router-link-active"
          [style]="{'margin': '0 auto'}"></p-button>
      </div>
    </div>

    <!-- {{ courses | json }} -->

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg pt-5">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Image
            </th>
            <th scope="col" class="px-6 py-3">
              courseName
            </th>
            <th scope="col" class="px-6 py-3">
              price
            </th>
            <th scope="col" class="px-6 py-3">
              chapters
            </th>
            <th scope="col" class="px-6 py-3">
              levels
            </th>
            <th scope="col" class="px-6 py-3 text-center">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-900">
          <tr *ngFor="let course of courses"
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
              {{ course.courseName | truncate:65 }}
            </th>
            <td class="px-6 py-4">
              <img [src]="url+course.thumbnail" alt="Image Alt Text" class=" mb-4 h-14">
            </td>
            <td class="px-6 py-4">
              {{ course.price | truncate:65 }}
            </td>
            <td class="px-6 py-4">
              {{ course?.videos?.length }} chapters
            </td>
            <td class="px-6 py-4">
              {{ course.courseTags }}
            </td>
            <td class="px-6 py-4 flex gap-4">
              <button type="button" class="p-3 rounded-lg bg-[#75f3ff] text-black font-semibold"
                [routerLink]="['/instructor', 'edit', course._id]">
                <i class="pi pi-pencil"></i>
                Edit
              </button>

              <button type="button" class="p-3 rounded-lg bg-[#e53b3b] text-white font-semibold"
                (click)="confirm2($event, course._id)">
                <i class="pi pi-trash"></i>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</section>

<!-- toaster message -->
<div class="card flex justify-content-center gap-2">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>