<div class="card flex justify-content-center px-24 py-5￼">
    <p-card header="course title" subheader="instructor name" class="shadow-xl" [style]="{ 'width': '300px' }"
    >
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
           dfgse
        </p>
        <!-- <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template> -->
    </p-card>
</div>