<section class="pt-16 flex justify-center items-center">
  <div class="xl-w-1/3 md:w-1/2 w-full">
    <app-login [title]="title" [description]="description" (formData)="loginData($event)"></app-login>
    <div class="flex justify-center pt-4">
      <p class="p-3 cursor-pointer hover:text-gray-600" routerLink="/instructor/login">Instructor Login</p>
      <p class="p-3 cursor-pointer hover:text-gray-600" routerLink="/signup">Register Now</p>
      <p class="p-3 cursor-pointer hover:text-gray-600" routerLink="/forgot-password">Forgot Password?</p>
    </div>
  </div>
</section>