<section class="mb-10">
    <form [formGroup]="course" (ngSubmit)="createCourseSubmit()">
        <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white border-b py-3 border-b-gray-500">
            Course Information
        </h3>

        <div class="mb-4">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                Name*</label>
            <div class="text-red-600 font-medium"
                *ngIf="course.controls['courseName'].touched && course.controls['courseName'].errors as courseNameErrors">
                <div *ngIf="courseNameErrors['required']">Course name is required</div>
            </div>
            <input type="text" name="courseName" id="courseName" formControlName="courseName"
                class="bg-gray-50 border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Course Name">
        </div>

        <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 mb-4">
            <div class="mb-4">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Description*</label>
                <div class="text-red-600 font-medium"
                    *ngIf="course.controls['courseDescription'].touched && course.controls['courseDescription'].errors as courseDescriptionErrors">
                    <div *ngIf="courseDescriptionErrors['required']">Course Description is required</div>
                </div>
                <textarea id="courseDescription" rows="4" name="courseDescription" formControlName="courseDescription"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your course description here..."></textarea>
            </div>
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course Level*
                    ( press control to select multiple levels )</label>
                <div class="text-red-600 font-medium"
                    *ngIf="course.controls['courseLevel'].touched && course.controls['courseLevel'].errors as courseLevelErrors">
                    <div *ngIf="courseLevelErrors['required']">Course Leve l is required</div>
                </div>
                <select formControlName="courseLevel" multiple name="courseLevel" id="courseLevel"
                    class="bg-gray-50 border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[103px]">
                    <option value="beginner">beginner</option>
                    <option value="intermediate">intermediate</option>
                    <option value="professional">professional</option>
                </select>
            </div>
        </div>

        <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-3 mb-4">
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Price*</label>
                <div class="text-red-600 font-medium"
                    *ngIf="course.controls['coursePrice'].touched && course.controls['coursePrice'].errors as coursePriceErrors">
                    <div *ngIf="coursePriceErrors['required']">Course price is required</div>
                    <div *ngIf="coursePriceErrors['pattern']">Only numbers are allowed</div>
                    <div *ngIf="coursePriceErrors['minlength']">minumum length is 2</div>
                    <div *ngIf="coursePriceErrors['maxlength']">maximum length is 4</div>
                </div>
                <input type="text" accept="" name="coursePrice" id="coursePrice" formControlName="coursePrice"
                    class="bg-gray-50 border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Course price" appNumeric>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Category*</label>
                <div class="text-red-600 font-medium"
                    *ngIf="course.controls['courseCategory'].touched && course.controls['courseCategory'].errors as courseDescriptionErrors">
                    <div *ngIf="courseDescriptionErrors['required']">Course Description is required</div>
                </div>
                <select id="large"
                    class="block w-full px-4 py-2 text-sm h-[42px] text-gray-900 border border-gray-600 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="courseCategory" id="courseCategory" formControlName="courseCategory">
                    <option value="" selected>--Choose a category--</option>
                    <option *ngFor="let category of categoryData" [value]="category._id">{{ category.categoryName }}
                    </option>
                </select>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    tags*</label>
                <div class="text-red-600 font-medium"
                    *ngIf="course.controls['courseTags'].touched && course.controls['courseTags'].errors as courseTagsErrors">
                    <div *ngIf="courseTagsErrors['required']">Course Tags is required</div>
                </div>
                <input type="text" name="courseTags" id="courseTags" formControlName="courseTags"
                    class="bg-gray-50 border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="programming, technology ...">
            </div>
        </div>

        <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                Thumbnail*</label>
            <div class="text-red-600 font-medium"
                *ngIf="course.controls['files'].touched && course.controls['files'].errors as courseFilesErrors">
                <div *ngIf="courseFilesErrors['required']">Video thumbnail is required</div>
            </div>
            <div class="w-full relative border-2 border-gray-500 border-dashed rounded-lg p-6" id="dropzone"
                (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                <input type="file" name="videoThumbnail" id="videoThumbnail"
                    class="absolute inset-0 w-full h-full opacity-0 z-50" (change)="onFileSelected($event)"
                    formControlName="files" />
                <div class="text-center">
                    <img class="mx-auto h-12 w-12" src="https://www.svgrepo.com/show/357902/image-upload.svg" alt="">

                    <h3 class="mt-2 text-sm font-medium text-gray-900">
                        <label for="file-upload" class="relative cursor-pointer">
                            <span>Drag and drop</span>
                            <span class="text-indigo-600"> or browse </span>
                            <span>to upload</span>
                            <input id="file-upload" name="file-upload" type="file" class="sr-only"
                                (change)="onFileSelected($event)">
                        </label>
                    </h3>
                    <p class="mt-1 text-xs text-gray-500">
                        PNG, JPG
                    </p>
                </div>
                <img src="" class="mt-4 mx-auto max-h-40 hidden" id="preview" #previewImage>
            </div>
        </div>

        <h3
            class="mb-4 text-lg leading-none text-gray-900 dark:text-white border-b py-3 mt-8 border-b-gray-500 font-medium">
            Course content
        </h3>
        <div formArrayName="fields" class="grid sm:grid-cols-1 md:grid-cols-3 gap-3">
            <div *ngFor="let item of fields.controls; let i = index" [formGroupName]="i"
                class="gap-4 mb-4 border border-gray-500 p-4 rounded shadow-md">
                <h2 class="font-medium">Chapter {{ i+1 }}</h2>
                <div class="pt-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                        Title*</label>
                    <input type="text" name="videoTitle" id="videoTitle" formControlName="videoTitle"
                        class="border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 w-full p-2.5 placeholder-gray-400"
                        placeholder="Title name">
                </div>
                <div class="pt-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                        message*</label>
                    <textarea id="videoDescription" rows="4" name="videoDescription" formControlName="videoDescription"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write your thoughts here..."></textarea>
                </div>

                <div class="grid grid-cols-1 pt-2">
                    <div>
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                            upload*</label>
                        <input type="file" #fileInput (change)="onFileChange($event, i)" class="form-input text-sm" />
                    </div>

                    <button type="button" (click)="removeFileds(i)"
                        class="px-4 mt-3 py-2 h-[45px] text-white bg-red-500 rounded hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800">
                        Remove
                    </button>
                </div>
            </div>
            <div class="flex justify-center min-h-[400px] items-center">
                <div class="mx-auto">
                    <button type="button" (click)="addfields()" class="px-4 py-2 mb-4 mx-auto block">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40"
                            viewBox="0 0 50 50">
                            <path
                                d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z">
                            </path>
                        </svg>
                    </button>
                    <br>
                    <button type="submit"
                        class="px-7 mt-3 py-2 h-[45px] text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green  active:bg-green -800">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- spinner -->
<ng-container *ngIf="submit">
    <app-spinner></app-spinner>
</ng-container>