<section class="bg-gray-100 p-5">
    <h1 class="text-xl font-bold uppercase border-b-2 border-b-gray-300 pb-2">
        Create Course
    </h1>

    <!-- form serction -->
    <form [formGroup]="course" (ngSubmit)="createCourseSubmit()" class="py-5">
        <!-- coursename start -->
        <div class="my-8">
            <span class="p-float-label">
                <input pInputText formControlName="courseName" style="width: 100%;" />
                <label for="courseName">Course Name</label>
            </span>
            <ng-container
                *ngIf="course.controls['courseName'].touched && course.controls['courseName'].errors as courseNameErrors">
                <span *ngIf="courseNameErrors['required']" class="text-red-600 font-medium">
                    Course name is required
                </span>
                <span *ngIf="courseNameErrors['maxlength']" class="text-red-600 font-medium">
                    Maximum 100 characters are allowed
                </span>
                <span *ngIf="courseNameErrors['minlength']" class="text-red-600 font-medium">
                    Maximum 10 characters are required
                </span>
            </ng-container>

        </div>
        <!-- coursename end -->


        <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 my-8">
            <div class="flex flex-col">
                <!-- courseDescription start -->
                <div>
                    <span class="p-float-label">
                        <textarea id="float-input" formControlName="courseDescription" rows="5" pInputTextarea
                            style="width: 100%"></textarea>
                        <label for="float-input">Description</label>
                    </span>
                    <ng-container
                        *ngIf="course.controls['courseDescription'].touched && course.controls['courseDescription'].errors as courseDescriptionErrors">
                        <span *ngIf="courseDescriptionErrors['required']" class="text-red-600 font-medium">
                            Course Description is required
                        </span>
                        <span *ngIf="courseDescriptionErrors['maxlength']" class="text-red-600 font-medium">
                            Maximum 1000 characters are allowed
                        </span>
                        <span *ngIf="courseDescriptionErrors['minlength']" class="text-red-600 font-medium">
                            Minimum 100 characters are required
                        </span>
                    </ng-container>
                </div>
                <!-- courseDescription ends -->

                <!-- coursePrice start -->
                <div class="my-8">
                    <span class="p-float-label">
                        <input type="number" pInputText formControlName="coursePrice" style="width: 100%" appNumeric
                            min="1" max="9999" required />
                        <label for="coursePrice">Course price</label>
                    </span>
                    <ng-container
                        *ngIf="course.controls['coursePrice'].touched && course.controls['coursePrice'].errors as coursePriceErrors">
                        <span *ngIf="coursePriceErrors['required']" class="text-red-600 font-medium">
                            Course price is required
                        </span>
                    </ng-container>
                </div>
                <!-- coursePrice ends -->

                <!-- courseCategory start -->
                <div>
                    <select
                        class="block w-full text-sm h-[49px] text-gray-600 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-400"
                        formControlName="courseCategory">
                        <option value="" selected>-- Choose a category --</option>
                        <option *ngFor="let category of categoryData" [value]="category._id">{{ category.categoryName }}
                        </option>
                    </select>
                    <ng-container
                        *ngIf="course.controls['courseCategory'].touched && course.controls['courseCategory'].errors as courseCategoryErrors">
                        <span *ngIf="courseCategoryErrors['required']" class="text-red-600 font-medium">
                            Course category is required
                        </span>
                    </ng-container>
                </div>
                <!-- courseCategory ends -->
            </div>
            <div>
                <p-editor formControlName="content" [style]="{ height: '275px' }"></p-editor>
                <ng-container
                    *ngIf="course.controls['content'].touched && course.controls['content'].errors as contentErrors">
                    <span *ngIf="contentErrors['required']" class="text-red-600 font-medium">
                        Course content is required
                    </span>
                </ng-container>
            </div>
        </div>
        <!-- coursename end -->


        <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 my-8">
            <!-- courseTags start -->
            <div class="my-5">
                <span class="p-float-label">
                    <input pInputText formControlName="courseTags" style="width: 100%;" />
                    <label for="username">Course Tags (use commas ',' to sepperate)</label>
                </span>
                <ng-container
                    *ngIf="course.controls['courseTags'].touched && course.controls['courseTags'].errors as courseTagsErrors">
                    <span *ngIf="courseTagsErrors['required']" class="text-red-600 font-medium">
                        Course Tags is required
                    </span>
                    <span *ngIf="courseTagsErrors['maxlength']" class="text-red-600 font-medium">
                        Maximum 100 words are allowed
                    </span>
                </ng-container>
            </div>
            <!-- courseTags end -->

            <!-- courseLevel start -->
            <div class="my-5">
                <select formControlName="courseLevel" multiple name="courseLevel" id="courseLevel"
                    class="bg-gray-50 border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[103px]">
                    <option value="beginner">beginner</option>
                    <option value="intermediate">intermediate</option>
                    <option value="professional">professional</option>
                </select>

                <ng-container
                    *ngIf="course.controls['courseLevel'].touched && course.controls['courseLevel'].errors as courseLevelErrors">
                    <span *ngIf="courseLevelErrors['required']" class="text-red-600 font-medium">
                        Course level is required
                    </span>
                </ng-container>
            </div>
            <!-- courseLevel ends -->
        </div>

        <!-- fileupload part -->

        <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 my-8">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    for="file_input">Thumbnail</label>
                <input
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    aria-describedby="file_input_help" id="file_input" type="file" formControlName="files"
                    (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg">
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG only</p>

                <ng-container
                    *ngIf="course.controls['files'].touched && course.controls['files'].errors as filesErrors">
                    <span *ngIf="filesErrors['required']" class="text-red-600 font-medium">
                        Thumbnail is required
                    </span>
                </ng-container>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    for="file_input">Trailer</label>
                <input
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    aria-describedby="file_input_help" id="file_input" type="file" formControlName="trailer"
                    (change)="onTrailerSelected($event)" accept="video/mp4">
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">mp4 only</p>
                <ng-container
                    *ngIf="course.controls['trailer'].touched && course.controls['trailer'].errors as trailerErrors">
                    <span *ngIf="trailerErrors['required']" class="text-red-600 font-medium">
                        Trailer is required
                    </span>
                </ng-container>
            </div>
        </div>

        <h3
            class="mb-4 text-lg leading-none text-gray-900 dark:text-white border-b py-3 mt-8 border-b-gray-500 font-medium">
            Course content
        </h3>
        <div formArrayName="fields" class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
            <div *ngFor="let item of fields.controls; let i = index" [formGroupName]="i"
                class="gap-4 mb-4 border border-gray-500 overflow-hidden p-4 rounded shadow-md">
                <h2 class="font-medium">Chapter {{ i+1 }}</h2>
                <div class="pt-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                        Title*</label>
                    <input type="text" name="videoTitle" id="videoTitle" formControlName="videoTitle"
                        class="border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 w-full p-2.5 placeholder-gray-400"
                        placeholder="Title name">
                    <div *ngIf="getFieldError(i, 'videoTitle')" class="text-red-600 font-medium">
                        {{ getFieldError(i, 'videoTitle') }}
                    </div>
                </div>
                <div class="pt-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                        message*</label>
                    <textarea id="videoDescription" rows="4" name="videoDescription" formControlName="videoDescription"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write your thoughts here..."></textarea>
                    <div *ngIf="getFieldError(i, 'videoDescription')" class="text-red-600 font-medium">
                        {{ getFieldError(i, 'videoDescription') }}
                    </div>
                </div>

                <div class="grid grid-cols-1 pt-2">
                    <div>
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                            upload*</label>
                        <input type="file" #fileInput (change)="onFileChange($event, i)" class="form-input text-sm"
                            formControlName="files" accept="video/mp4" />
                        <div *ngIf="getFieldError(i, 'files')" class="text-red-600 font-medium">
                            {{ getFieldError(i, 'files') }}
                        </div>
                    </div>

                    <button type="button" (click)="removeFileds(i)"
                        class="px-4 mt-3 py-2 h-[45px] text-white bg-red-500 rounded hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800">
                        Remove
                    </button>
                </div>
            </div>
            <div class="flex justify-center min-h-[400px] items-center">
                <div class="mx-auto">
                    <button type="button" (click)="addfields()" class="px-4 py-2 mb-4 mx-auto block">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40"
                            viewBox="0 0 50 50">
                            <path
                                d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z">
                            </path>
                        </svg>
                    </button>
                    <br>
                    <button type="submit"
                        class="px-7 mt-3 py-2 h-[50px] text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green  active:bg-green -800">
                        <i class="pi pi-cloud-upload"></i> Upload
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>


<!-- spinner -->
<ng-container *ngIf="submit">
    <app-spinner></app-spinner>
</ng-container>


<!-- {{ course.valid | json }}
<pre>
    {{ course.value | json }}
</pre> -->