<section class="bg-gray-100 p-10 h-screen">
    <h1 class="text-xl font-bold uppercase border-b-2 border-b-gray-300 pb-2">
        Instructor Dashboard
    </h1>
    <div class="flex justify-evenly pt-5 gap-5">
        <div class="flex flex-col gap-5">
            <div class="w-full bg-white border-2 border-gray-200 rounded-xl shadow-lg">
                <div class="surface-card shadow-2 p-6 border-round">
                    <div class="flex justify-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3 min-w-32">Total Students</span>
                            <div class="text-900 font-medium text-xl text-green-600">
                                {{ totalStudents }}
                            </div>
                        </div>
                        <div class="flex items-center justify-center bg-blue-100 border-round"
                            style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-user text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full bg-white border-2 border-gray-200 rounded-md shadow-lg">
                <div class="surface-card shadow-2 p-6 border-round">
                    <div class="flex justify-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Avg Rating</span>
                            <div class="text-900 font-medium text-xl text-blue-600">5</div>
                        </div>
                        <div class="flex items-center justify-center bg-blue-100 border-round"
                            style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-star text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full bg-white border-2 border-gray-200 rounded-lg shadow-lg">
                <div class="surface-card shadow-2 p-6 border-round">
                    <div class="flex justify-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Revenue</span>
                            <div class="text-900 font-medium text-xl text-orange-600">₹ 10000</div>
                        </div>
                        <div class="flex items-center justify-center bg-blue-100 border-round"
                            style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-money-bill text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full bg-white border-2 border-gray-200 rounded-lg shadow-lg">
                <div class="surface-card shadow-2 p-6 border-round">
                    <div class="flex justify-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Total Courses</span>
                            <div class="text-900 font-medium text-xl text-indigo-600">
                                {{ totalCourses }}
                            </div>
                        </div>
                        <div class="flex items-center justify-center bg-blue-100 border-round"
                            style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-video text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow bg-white p-5 rounded-lg shadow-lg border-2 border-gray-200">
            <p-chart type="line" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</section>