<section class="grid grid-cols-1 md:grid-cols-3 gap-5 min-h-screen p-5">
    <!-- Boxes section -->
    <div class="lg:col-span-1 pt-3">
        <div class="flex flex-col gap-5">
            <app-dashboard-box title="Courses" [value]="dashboard.counts.courses" icon="pi-user"
                color="red"></app-dashboard-box>

            <app-dashboard-box title="Avg e" [value]="dashboard.counts.rating" icon="pi-star"
                color="blue"></app-dashboard-box>

            <app-dashboard-box title="sold" [value]="dashboard.counts.sold" icon="pi-video"
                color="green"></app-dashboard-box>
        </div>
    </div>

    <!-- Graph section -->
    <div class="md:col-span-2">
        <h1 class="font-semibold py-3 text-xl">Course Progress</h1>
        <hr class="py-3">
        <app-graph [graphData]="dashboard.graphData"></app-graph>
    </div>
</section>