<section class="flex items-center pt- pb-10">
  <div class="p-4 w-full ">
    <div class="text-center pb-5">
      <h2 class="text-3xl font-semibold mb-2">Student Sign Up</h2>
      <p class="text-sm">Embark on Your Learning Journey - Sign Up Today!.</p>
    </div>
    <div class="w-full xl:w-10/12 xl:mx-auto 2xl:w-8/12">
      <app-register (formData)="signUp($event)"></app-register>
      <p class="text-center p-4">
        Already have an account ?
        <b routerLink="/login" class="cursor-pointer">
          Login
        </b>
      </p>
    </div>
  </div>
</section>