<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a [routerLink]="['/home']" class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2" class="w-8 h-8 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white hidden sm:block">E-Learn</span>
    </a>
    <div class="flex items-center md:order-2 rtl:space-x-reverse" [hidden]="notifications.length === 0">
      <!-- notification start -->
      <button type="button" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="hover"
        class="relative inline-flex items-center p-2.5 mx-1 border rounded-lg hover:bg-blue-800 hover:text-white focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

        <i class="pi pi-bell"></i>

        <span class="sr-only">Notifications</span>

        <ng-container *ngIf="notifications.length > 0">
          <div
            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
            {{ notifications.length }}
          </div>
        </ng-container>

      </button>
      <!-- Dropdown menu -->
      <div id="dropdownDelay"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">

          <ng-container *ngIf="notifications.length > 0; else notificationElse">
            <li *ngFor="let item of notifications">
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                [routerLink]="['/chat']">
                [{{ item.message.sender.fullName }}] : {{ item.message.content }}
              </a>
            </li>
          </ng-container>

          <ng-template #notificationElse>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                [routerLink]="['/chat']">
                No notifications
              </a>
            </li>
          </ng-template>
        </ul>
      </div>


      <!-- notification ends -->

      <!-- chat starts -->
      <button type="button" [routerLink]="['/chat']" routerLinkActive="router-link-active"
        class="text-gray-900 hover:bg-blue-800 hover:text-white bg-white border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-2 mx-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
        </svg>
      </button>
      <!-- chat ends -->

      <!-- search starts -->
      <button type="button" [routerLink]="['/search']" routerLinkActive="router-link-active"
        class="text-gray-900 bg-white hover:bg-blue-800 hover:text-white border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-2.5 py-2 mx-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        <i class="pi pi-search"></i>
      </button>
      <!-- search ends -->

      <div *ngIf="logSign; then thenBlock else elseBlock">
      </div>

      <ng-template #thenBlock>
        <button type="button" [routerLink]="['/login']" routerLinkActive="router-link-active"
          class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-2 mx-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          Login
        </button>

        <button type="button" [routerLink]="['/signup']" routerLinkActive="router-link-active"
          class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-2 mx-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
          Signup
        </button>
      </ng-template>

      <ng-template #elseBlock>
        <!-- profile start -->
        <button type="button" [routerLink]="['/profile']" routerLinkActive="router-link-active"
          class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-2 mx-1 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
          <img [src]="profile" alt="profile image" class="rounded-full w-5 h-5 mr-2">
          <span class="hidden sm:block">
            {{ name | slice:0:3 }}
          </span>
        </button>

        <button type="button" (click)="logout()"
          class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-2 py-2 mx-1 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700">
          logout
        </button>
        <!-- profile start -->
      </ng-template>

      <!-- collapse toggler -->
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-normal border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active"
            class="block py-2 px-3 text-white bg-black rounded md:bg-transparent md:text-black md:p-0 md:dark:text-black"
            aria-current="page">Home</a>
        </li>
        <li>
          <a [routerLink]="['/instructor']" routerLinkActive="router-link-active"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-black md:p-0 md:dark:hover:text-black dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Instructor</a>
        </li>
        <li>
          <a [routerLink]="['/learning']" routerLinkActive="router-link-active"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-black md:p-0 md:dark:hover:text-black dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            My learning
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="px-10 xl:px-32 pt-24 min-h-screen">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="bg-gray-100 rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">E-Learn</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-smx font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <ng-container *ngFor="let item of menu">
          <li>
            <a [routerLink]="['/', item]" class="hover:underline me-4 md:me-6 uppercase text-sm">{{ item }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © 2024 <a [routerLink]="['/home']" class="hover:underline">E-learn</a>. All Rights Reserved.
    </span>
  </div>
</footer>