<header class="bg-transparent">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <!-- Logo -->
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">E-learn</span>
    </a>

    <!-- navbar -->
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900 cursor-pointer" [routerLink]="['/home']"
        routerLinkActive="border-b-2 border-b-gray-800 pb-2 px-2 ransition duration-200 ease-in-out">Home</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" routerLink="/instructor/login"
        routerLinkActive="border-b-2 border-b-gray-800 pb-2 px-2 ransition duration-200 ease-in-out">Instructor</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" routerLink="/learning"
        routerLinkActive="border-b-2 border-b-gray-800 pb-2 px-2 ransition duration-200 ease-in-out">My learning</a>
      <div>
        <div class="relative group z-50">
          <a class="mr-5 hover:text-gray-900 cursor-pointer relative">
            <i class="pi pi-bell"></i>
            <ng-container *ngIf="notifications.length > 0">
              <span
                class="bg-red-500 text-white h-7 w-7 flex items-center justify-center rounded-full absolute -top-4 -right-4">
                {{ notifications.length }}
              </span>
            </ng-container>
          </a>
          <!-- Dropdown Content -->
          <div
            class="absolute hidden right-0 w-[150px] bg-white border rounded-sm p-2 space-y-2 text-gray-700 group-hover:block shadow-xl">
            <ng-container *ngIf="notifications.length < 1">
              No notifications
            </ng-container>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li *ngFor="let item of notifications">
                <a [routerLink]="['/chat']"
                  class="block px-4 py-2 text-sm rounded-md text-gray-700 hover:bg-gray-900 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                  [{{ item.message.sender.fullName }}] :
                  <br>
                  {{ item.message.content }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <a class="mr-5 hover:text-gray-900 cursor-pointer" routerLink="/chat"
        routerLinkActive="border-b-2 border-b-gray-800 pb-2 px-2 ransition duration-200 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
        </svg>
      </a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" routerLink="/search"
        routerLinkActive="border-b-2 border-b-gray-800 pb-2 px-2 ransition duration-200 ease-in-out">
        <i class="pi pi-search"></i>
      </a>
    </nav>

    <div *ngIf="logSign; then thenBlock else elseBlock">
    </div>

    <ng-template #thenBlock>
      <button class="border-2 mx-3  py-2 px-5 rounded-full hover:border-black" routerLink="/login">
        Login
      </button>
      <button
        class="bg-gray-900 border-2 text-white py-2 px-5 rounded-full hover:border-black hover:text-black hover:bg-white"
        routerLink="/signup">
        Get Started
      </button>
    </ng-template>

    <ng-template #elseBlock>
      <!-- profile -->
      <div>
        <div class="relative group z-50">
          <button>
            <img class="w-11 mt-1 mr-3 rounded-full border-2 border-gray-200 hover:border-black"
              [src]="profile"
              alt="user photo">
          </button>
          <!-- Dropdown Content -->
          <div
            class="absolute hidden right-0 w-[150px] bg-white border rounded-sm p-2 space-y-2 text-gray-700 group-hover:block shadow-xl">
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li *ngFor="let item of profileArr">
                <a [routerLink]="[item]"
                  class="block px-4 py-2 text-sm rounded-md text-gray-700 hover:bg-gray-900 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                  {{ item }}
                </a>
              </li>
              <hr class="my-3">
              <li>
                <a class="block px-4 py-2 text-sm rounded-md text-gray-700 hover:bg-gray-900 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  (click)="logout()">
                  logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- profile ends -->
    </ng-template>
  </div>
</header>
<!-- header ends -->

<!-- content start -->
<div class="xl:px-32 py-10">
  <router-outlet></router-outlet>
</div>
<!-- content ends -->

<!-- footer start -->
<footer class="bg-gray-100 px-10">
  <div class="container mx-auto pt-5 border-b">
    <div class="md:flex md:justify-between pb-4">
      <div class="mb-3 md:mb-0 md:w-1/4 flex justify-center gap-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <h2 class="text-xl font-bold">E-learn</h2>
      </div>

      <div class="md:w-3/4">
        <div class="md:flex md:justify-between">
          <!-- Solutions -->
          <div class="md:w-1/4 md:mb-0 mb-3">
            <h5 class="mb-4 font-semibold uppercase">Solutions</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../sales/sales-performance-market-pipeline.html">Sales</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Project Management</a></li>
              <li class=" list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../workforce/workforce-organization-management-hr.html">Workforce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../e-commerce/e-commerce.html">
                  E-Commerce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../finance/finance-accounting-erp.html">Finance</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../business-apps/business-apps.html">Business Apps</a></li>
            </ul>
          </div>

          <!-- Developers -->
          <div class="md:w-1/4 md:mb-0 mb-3">
            <h5 class="mb-4 font-semibold uppercase">Developers</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../sales/sales-performance-market-pipeline.html">Sales</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Project Management</a></li>
              <li class=" list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../workforce/workforce-organization-management-hr.html">Workforce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../e-commerce/e-commerce.html">
                  E-Commerce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../finance/finance-accounting-erp.html">Finance</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../business-apps/business-apps.html">Business Apps</a></li>
            </ul>
          </div>

          <!-- Company -->
          <div class="md:w-1/4 md:mb-0 mb-3">
            <h5 class="mb-4 font-semibold uppercase">Company</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../sales/sales-performance-market-pipeline.html">Sales</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Project Management</a></li>
              <li class=" list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../workforce/workforce-organization-management-hr.html">Workforce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../e-commerce/e-commerce.html">
                  E-Commerce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../finance/finance-accounting-erp.html">Finance</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../business-apps/business-apps.html">Business Apps</a></li>
            </ul>
          </div>

          <!-- Connect -->
          <div class="md:w-1/4">
            <h5 class="mb-4 font-semibold uppercase">Connect</h5>
            <ul class="list-group">
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../sales/sales-performance-market-pipeline.html">Sales</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Project Management</a></li>
              <li class=" list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../workforce/workforce-organization-management-hr.html">Workforce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../e-commerce/e-commerce.html">
                  E-Commerce</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../finance/finance-accounting-erp.html">Finance</a></li>
              <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
                  href="../business-apps/business-apps.html">Business Apps</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Sitemap and Privacy & terms links -->
    <div class="text-center py-5 border-t-2 border-t-gray-300">
      <a class="mr-4" href="">Copyright © 2024, All Right Reserved E-learn</a>
    </div>
  </div>
</footer>

<!-- footer ends -->