<header class="bg-white">
  <nav class="flex justify-between item-center w-[92%] mx-auto py-5">
    <div>
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <img class="w-16" src="/assets/logo/El.png" alt="logo">
      </a>
    </div>
    <div
      class="md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5"
      #toggleMenu>
      <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
        <li>
          <a class="hover:text-gray-500" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li>
          <a class="hover:text-gray-500" [routerLink]="['/category']" routerLinkActive="router-link-active">Category</a>
        </li>
        <li>
          <a class="hover:text-gray-500" [routerLink]="['profile/dashboard']"
            routerLinkActive="router-link-active">Instructor</a>
        </li>
        <li>
          <a class="hover:text-gray-500" [routerLink]="['/profile/my-learning']"
            routerLinkActive="router-link-active">My
            learning</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-4">
      <div *ngIf="logSign; then thenBlock else elseBlock">
      </div>
      <ng-template #thenBlock>
        <button [routerLink]="['/login']" class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]">
          Log In
        </button>
        <button [routerLink]="['/signup']"
          class="border-black text-black px-5 py-2 rounded-full hover:border-orange-500">
          Sign Up
        </button>
      </ng-template>

      <ng-template #elseBlock>
        <a [routerLink]="['/profile']" routerLinkActive="router-link-active">
          <div class="flex gap-3 pt-2">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/3c256e58872685.5a0c7b8939f42.png"
              alt="profile-image" class="w-10 rounded-full">
            <p class="pt-1 cursor-pointer">profile</p>
          </div>
        </a>
        <button [routerLink]="['/signup']"
          class="border-black text-black px-5 py-2 rounded-full hover:border-orange-500" (click)="logout()">
          Logout
        </button>
      </ng-template>
      <img class="w-6 cursor-pointer md:hidden" [src]="icon" alt="logo" (click)="toggleClick(toggleMenu)">
    </div>
  </nav>
</header>

<router-outlet></router-outlet>