<main class="flex flex-col md:flex-row">
    <!-- Sidebar for larger screens -->
    <div class="bg-gray-900 md:w-16 md:flex-shrink-0">
        <button (click)="sidebarVisible = true">
            <i class="pi pi-th-large text-white px-5 py-10"></i>
        </button>
    </div>

    <!-- Content area -->
    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>
</main>


<p-sidebar [(visible)]=" sidebarVisible" [style]="{'background-color': 'white', 'color': 'black'}">
    <ng-template pTemplate="header">
        <div class="flex gap-5 items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">E-learn</span>
            </a>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="">
            <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2">
            <button type="button"
                class="cursor-pointer border-2 border-gray-600 p-2 rounded-md transition duration-300 ease-in-out transform hover:scale-110 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring focus:border-blue-300"
                routerLink="/instructor/profile">
                <i class="pi pi-user text-base"></i>
                <span class="ml-2 text-sm">Profile</span>
            </button>

            <button
                class="cursor-pointer border-2 border-gray-600 p-2 rounded-md transition duration-300 ease-in-out transform hover:scale-110 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring focus:border-blue-300 ml-2"
                (click)="logout()">
                <i class="pi pi-power-off text-base"></i>
                <span class="ml-2 text-sm">Logout</span>
            </button>

        </div>
    </ng-template>
</p-sidebar>