<!-- Signup Container -->
<div class="flex justify-center items-center h-screen">
    <!-- Signup Form Section -->
    <section class="w-1/2">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl mb-4">Instructor SignUp</h2>
            <p class="text-md border-2 border-gray-300 cursor-pointer px-2 py-1 rounded-md bg-black text-white"
                routerLink="/">
                Back
            </p>
        </div>
        <app-register (formData)="register($event)"></app-register>
        <div class="">
            <p class="text-center p-4">
                Already have an account ?
                <b routerLink="/instructor/login" class="cursor-pointer">
                    Login
                </b>
            </p>
        </div>
    </section>
</div>