<!-- <p>{{ courseData | json }}</p> -->


<div class="grid sm:grid-cols-1 md:grid-cols-5 gap-3">
    <div *ngFor="let video of courseData; let i = index"
        class="shadow-md text-center min-h-16 cursor-pointer bg-gray-800 flex items-center justify-center hover:bg-black"
        label="Top" (click)="showDialog('top', video)">
        <h2 class="font-semibold uppercase text-white">chapter {{ i+1 }}</h2>
    </div>

</div>

<p-dialog header="Update chapter" [(visible)]="visible" [position]="position" [style]="{ width: '40vw' }"
    [closable]="false" [modal]="true">
    <!-- {{ data | json }} -->

    <div>
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
            Title*</label>
        <input type="text" name="videoTitle" id="videoTitle"
            class="border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 w-full p-2.5 placeholder-gray-400"
            placeholder="Title name" [(ngModel)]="data.title">
    </div>
    <div class="pt-2">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
            message*</label>
        <textarea id="videoDescription" rows="4" name="videoDescription"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Write your thoughts here..." [(ngModel)]="data.description"></textarea>
    </div>

    <div class="pt-2">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
            Upload*</label>
        <input type="file" (change)="onChapterVideoChange($event)" class="form-input" [(ngModel)]="data.file" />
    </div>
    <div class="flex items-end justify-center gap-2 border-t mt-4 pt-2 mr-3">
        <button type="button"
            class="px-4 mt-3 py-2 h-[45px] min-w-20 text-white bg-yellow-500 rounded hover:bg-yellow-600 focus:outline-none focus:shadow-outline-yellow active:bg-yellow-800"
            (click)="closeDialog()">close</button>
        <button type="button"
            class="px-4 mt-3 py-2 h-[45px] min-w-20 text-white bg-red-500 rounded hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800"
            (click)="deleteChapter()">Delete</button>
        <button type="button"
            class="px-4 mt-3 py-2 h-[45px] min-w-20 text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            (click)="updateChapter()">Update</button>
    </div>

</p-dialog>



<!-- create new chapter -->
<section class="mb-10">
    <h3
        class="mb-4 text-lg leading-none text-gray-900 dark:text-white border-b py-3 mt-8 border-b-gray-500 font-semibold">
        Add new chapters
    </h3>
    <form [formGroup]="course" (ngSubmit)="createChapters()">
        <div formArrayName="fields" class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
            <div *ngFor="let item of fields.controls; let i = index" [formGroupName]="i"
                class="gap-4 mb-4 border border-gray-500 overflow-hidden p-4 rounded shadow-md">
                <h2 class="font-medium border-b pb-2 border-b-gray-400">New Chapter {{ i+1 }}</h2>
                <div class="pt-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                        Title*</label>
                    <input type="text" name="videoTitle" id="videoTitle" formControlName="videoTitle"
                        class="border border-gray-600 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 w-full p-2.5 placeholder-gray-400"
                        placeholder="Title name">
                </div>
                <div class="pt-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                        message*</label>
                    <textarea id="videoDescription" rows="4" name="videoDescription" formControlName="videoDescription"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write your thoughts here..."></textarea>
                </div>

                <div class="grid grid-cols-1 pt-2">
                    <div>
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                            upload*</label>
                        <input type="file" #fileInput (change)="onFileChange($event, i)" class="form-input text-sm" />
                    </div>

                    <button type="button" (click)="removeFileds(i)"
                        class="px-4 mt-3 py-2 h-[45px] text-white bg-red-500 rounded hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800">
                        Remove
                    </button>
                </div>
            </div>
            <div class="flex justify-center min-h-[400px] items-center">
                <div class="mx-auto">
                    <button type="button" (click)="addfields()" class="px-4 py-2 mb-4 mx-auto block">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40"
                            viewBox="0 0 50 50">
                            <path
                                d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z">
                            </path>
                        </svg>
                    </button>
                    <br>
                    <button type="submit"
                        class="px-7 mt-3 py-2 h-[45px] text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green  active:bg-green -800">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- spinner -->
<ng-container *ngIf="submit">
    <app-spinner></app-spinner>
</ng-container>