<div class="card flex justify-content-center">
    <p-accordion [activeIndex]="0" class="w-full">
        <p-accordionTab header="Skill level">
            <div *ngFor="let level of levels" class="flex items-center my-4">
                <input [id]="level" type="radio" [value]="level" name="level" [(ngModel)]="selectedLevel"
                    class="w-4 h-4 text-black bg-gray-100 border-gray-800 focus:ring-blue-500 dark:focus:ring-black dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label [for]="level" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ level
                    }}</label>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Categories">
            <div *ngFor="let cat of categories" class="flex items-center my-4">
                <input [id]="cat._id" type="radio" [(ngModel)]="category" [value]="cat._id" name="default-radio"
                    class="w-4 h-4 text-black bg-gray-100 border-gray-800 focus:ring-blue-500 dark:focus:ring-black dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label [for]="cat._id"
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{cat.categoryName}}</label>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Instructors">
            <div class="py-5 border-b border-black dark:border-gray-700">
                <div *ngFor="let inst of instructors" class="flex items-center my-4">
                    <input [id]="inst._id" type="radio" [value]="inst._id" [(ngModel)]="instructor" name="instructor"
                        class="w-4 h-4 text-black bg-gray-100 border-gray-800 focus:ring-blue-500 dark:focus:ring-black dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label [for]="inst._id"
                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{inst.fullName}}</label>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

<!-- Reset and Filter Buttons -->
<div class="flex justify-between gap-2 py-3">
    <button (click)="reset()"
        class="active:scale-95 rounded-lg border-2 border-black px-8 py-2 font-medium text-gray-600 outline-none focus:ring hover:opacity-90 w-1/2">Reset</button>
    <button (click)="filterCourse()"
        class="active:scale-95 rounded-lg border-2 border-black bg-black px-8 py-2 font-medium text-white outline-none focus:ring hover:opacity-90 w-1/2">
        Filter
    </button>
</div>