<section class=" bg-gray-100 p-10">
    <form [formGroup]="course" (ngSubmit)="editCourseSubmit()">
        <div class="flex justify-between py-3 border-b-2 border-b-gray-300  items-end mb-4">
            <h1 class="text-xl font-bold uppercase pb-2">
                Course Information
            </h1>
            <button type="button" [routerLink]="['/instructor/edit/content', id]"
                class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 flex items-center gap-4">
                <span class="h-6">Edit chapters</span>
                <i class="pi pi-arrow-circle-right"></i>
            </button>

        </div>

        <div class="mb-4">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                Name*</label>
            <ng-container
                *ngIf="course.controls['courseName'].touched && course.controls['courseName'].errors as courseNameErrors">
                <span *ngIf="courseNameErrors['required']" class="text-red-600 font-medium">
                    Course name is required
                </span>
                <span *ngIf="courseNameErrors['noSpaceAllowed']" class="text-red-600 font-medium">
                    Course name is required
                </span>
                <span *ngIf="courseNameErrors['maxlength']" class="text-red-600 font-medium">
                    Maximum 100 characters are allowed
                </span>
                <span *ngIf="courseNameErrors['minlength']" class="text-red-600 font-medium">
                    Maximum 10 characters are required
                </span>
            </ng-container>
            <input type="text" name="courseName" id="courseName" formControlName="courseName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Course Name">
        </div>

        <div class="mb-4">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                Description*</label>
            <ng-container
                *ngIf="course.controls['courseDescription'].touched && course.controls['courseDescription'].errors as courseDescriptionErrors">
                <span *ngIf="courseDescriptionErrors['required']" class="text-red-600 font-medium">
                    Course Description is required
                </span>
                <span *ngIf="courseDescriptionErrors['noSpaceAllowed']" class="text-red-600 font-medium">
                    Course Description is required
                </span>
                <span *ngIf="courseDescriptionErrors['maxlength']" class="text-red-600 font-medium">
                    Maximum 1000 characters are allowed
                </span>
                <span *ngIf="courseDescriptionErrors['minlength']" class="text-red-600 font-medium">
                    Minimum 100 characters are required
                </span>
            </ng-container>
            <textarea id="courseDescription" rows="4" name="courseDescription" formControlName="courseDescription"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write your course description here..."></textarea>
        </div>

        <div>
            <ng-container
                *ngIf="course.controls['content'].touched && course.controls['content'].errors as contentErrors">
                <span *ngIf="contentErrors['required']" class="text-red-600 font-medium">
                    Course content is required
                </span>
                <span *ngIf="contentErrors['noSpaceAllowed']" class="text-red-600 font-medium">
                    Course content is required
                </span>
            </ng-container>
            <p-editor formControlName="content" [style]="{ height: '275px' }" #editor></p-editor>

        </div>

        <div class="grid gap-4 grid-cols-4 mb-4 sm:grid-cols-2">
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Price*</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['coursePrice'].touched && course.controls['coursePrice'].errors as coursePriceErrors">
                    <div *ngIf="coursePriceErrors['required']">Course price is required</div>
                    <div *ngIf="coursePriceErrors['pattern']">Only numbers are allowed</div>
                    <div *ngIf="coursePriceErrors['minlength']">minumum length is 2</div>
                    <div *ngIf="coursePriceErrors['maxlength']">maximum length is 4</div>
                </div>
                <input type="number" min="1" max="9999" name="coursePrice" id="coursePrice"
                    formControlName="coursePrice"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Course price" appNumeric>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Category*</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['courseCategory'].touched && course.controls['courseCategory'].errors as courseDescriptionErrors">
                    <div *ngIf="courseDescriptionErrors['required']">Course Description is required</div>
                </div>
                <select id="large"
                    class="block w-full px-4 py-2 text-sm h-[42px] text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="courseCategory" id="courseCategory" formControlName="courseCategory">
                    <option value="" selected>--Choose a category--</option>
                    <option *ngFor="let category of categoryData" [value]="category._id">{{ category.categoryName }}
                    </option>
                </select>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    tags*</label>
                <ng-container
                    *ngIf="course.controls['courseTags'].touched && course.controls['courseTags'].errors as courseTagsErrors">
                    <span *ngIf="courseTagsErrors['required']" class="text-red-600 font-medium">
                        Course Tags is required
                    </span>
                    <span *ngIf="courseTagsErrors['maxlength']" class="text-red-600 font-medium">
                        Maximum 100 words are allowed
                    </span>
                </ng-container>
                <input type="text" name="courseTags" id="courseTags" formControlName="courseTags"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="programming, technology ...">
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course Level*
                    ( press control to select multiple levels )</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['courseLevel'].touched && course.controls['courseLevel'].errors as courseLevelErrors">
                    <div *ngIf="courseLevelErrors['required']">Course Level is required</div>
                </div>
                <select formControlName="courseLevel" multiple name="courseLevel" id="courseLevel"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[80px]">
                    <option value="beginner" [selected]="courseLevelCheck('beginner')">beginner
                    </option>
                    <option value="intermediate" [selected]="courseLevelCheck('intermediate')">
                        intermediate
                    </option>
                    <option value="professional" [selected]="courseLevelCheck('professional')">
                        professional
                    </option>
                </select>
            </div>
        </div>

        <!-- fileupload part -->
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 my-8">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    for="file_input">Thumbnail</label>
                <input
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    aria-describedby="file_input_help" id="file_input" type="file" formControlName="files"
                    (change)="onFileSelected($event)" accept="image/jpg, image/jpeg, image/png">
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG only</p>

                <ng-container
                    *ngIf="course.controls['files'].touched && course.controls['files'].errors as filesErrors">
                    <span *ngIf="filesErrors['required']" class="text-red-600 font-medium">
                        Thumbnail is required
                    </span>
                </ng-container>
                <ng-container *ngIf="courseData">
                    <img [src]="courseData.signedUrl" alt="thumbnail" #thumbnail>
                </ng-container>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    for="file_input">Trailer</label>
                <input
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    aria-describedby="file_input_help" id="file_input" type="file" formControlName="trailer"
                    accept="video/mp4" (change)="onTrailerSelected($event)">
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">mp4 only</p>
                <ng-container
                    *ngIf="course.controls['trailer'].touched && course.controls['trailer'].errors as trailerErrors">
                    <span *ngIf="trailerErrors['required']" class="text-red-600 font-medium">
                        Trailer is required
                    </span>
                </ng-container>
                <!-- <app-video-player [videoUrl]="activeVideo"></app-video-player> -->
            </div>
        </div>



        <div class="flex border-t py-5 justify-end">
            <button type="submit"
                class="px-7 mt-3 py-2 h-[50px] text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green  active:bg-green -800">
                <i class="pi pi-cloud-upload"></i> Upload
            </button>
        </div>
    </form>
</section>

<!-- spinner -->
<ng-container *ngIf="submit">
    <app-spinner></app-spinner>
</ng-container>