<section class="mb-10">
    <form [formGroup]="course" (ngSubmit)="editCourseSubmit()">
        <div class="flex justify-between border-b py-3 border-b-gray-500 items-end mb-4">
            <h3 class="text-lg font-bold leading-none text-gray-900 dark:text-white ">
                Course Information
            </h3>
            <button [routerLink]="['/instructor/edit/content', id]"
                class="px-4 py-2 text-white bg-black rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green active:bg-green-800">
                Edit course Videos
            </button>
        </div>


        <div class="mb-4">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                Name*</label>
            <div class="text-red-600 font-bold"
                *ngIf="course.controls['courseName'].touched && course.controls['courseName'].errors as courseNameErrors">
                <div *ngIf="courseNameErrors['required']">Course name is required</div>
            </div>
            <input type="text" name="courseName" id="courseName" formControlName="courseName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Course Name">
        </div>

        <div class="mb-4">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                Description*</label>
            <div class="text-red-600 font-bold"
                *ngIf="course.controls['courseDescription'].touched && course.controls['courseDescription'].errors as courseDescriptionErrors">
                <div *ngIf="courseDescriptionErrors['required']">Course Description is required</div>
            </div>
            <textarea id="courseDescription" rows="4" name="courseDescription" formControlName="courseDescription"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write your course description here..."></textarea>
        </div>

        <div class="grid gap-4 grid-cols-4 mb-4 sm:grid-cols-2">
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Price*</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['coursePrice'].touched && course.controls['coursePrice'].errors as coursePriceErrors">
                    <div *ngIf="coursePriceErrors['required']">Course price is required</div>
                    <div *ngIf="coursePriceErrors['pattern']">Only numbers are allowed</div>
                    <div *ngIf="coursePriceErrors['minlength']">minumum length is 2</div>
                    <div *ngIf="coursePriceErrors['maxlength']">maximum length is 4</div>
                </div>
                <input type="text" accept="" name="coursePrice" id="coursePrice" formControlName="coursePrice"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Course price">
            </div>

            <!-- <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estimated
                    Price*</label>
                <input type="text" name="estimatedPrice" id="estimatedPrice" formControlName="estimatedPrice"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Estimated price">
            </div> -->

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    Category*</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['courseCategory'].touched && course.controls['courseCategory'].errors as courseDescriptionErrors">
                    <div *ngIf="courseDescriptionErrors['required']">Course Description is required</div>
                </div>
                <select id="large"
                    class="block w-full px-4 py-2 text-sm h-[42px] text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="courseCategory" id="courseCategory" formControlName="courseCategory">
                    <option value="" selected>--Choose a category--</option>
                    <option *ngFor="let category of categoryData" [value]="category._id">{{ category.categoryName }}
                    </option>
                </select>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course
                    tags*</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['courseTags'].touched && course.controls['courseTags'].errors as courseTagsErrors">
                    <div *ngIf="courseTagsErrors['required']">Course Tags is required</div>
                </div>
                <input type="text" name="courseTags" id="courseTags" formControlName="courseTags"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="programming, technology ...">
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Course Level*
                    ( press control to select multiple levels )</label>
                <div class="text-red-600 font-bold"
                    *ngIf="course.controls['courseLevel'].touched && course.controls['courseLevel'].errors as courseLevelErrors">
                    <div *ngIf="courseLevelErrors['required']">Course Level is required</div>
                </div>
                <select formControlName="courseLevel" multiple name="courseLevel" id="courseLevel"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-[80px]">
                    <option value="beginner" [selected]="course.value.courseLevel.includes('beginner')">beginner
                    </option>
                    <option value="intermediate" [selected]="course.value.courseLevel.includes('intermediate')">
                        intermediate
                    </option>
                    <option value="professional" [selected]="course.value.courseLevel.includes('professional')">
                        professional
                    </option>
                </select>

            </div>

        </div>

        <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                Thumbnail*</label>
            <div class="text-red-600 font-bold"
                *ngIf="course.controls['files'].touched && course.controls['files'].errors as courseFilesErrors">
                <div *ngIf="courseFilesErrors['required']">Video thumbnail is required</div>
            </div>
            <div class="w-full relative border-2 border-gray-500 border-dashed rounded-lg p-6" id="dropzone"
                (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                <input type="file" name="videoThumbnail" id="videoThumbnail"
                    class="absolute inset-0 w-full h-full opacity-0 z-50" (change)="onFileSelected($event)"
                    formControlName="files" />
                <div class="text-center">
                    <img class="mx-auto h-12 w-12" src="https://www.svgrepo.com/show/357902/image-upload.svg" alt="">

                    <h3 class="mt-2 text-sm font-medium text-gray-900">
                        <label for="file-upload" class="relative cursor-pointer">
                            <span>Drag and drop</span>
                            <span class="text-indigo-600"> or browse </span>
                            <span>to upload</span>
                            <input id="file-upload" name="file-upload" type="file" class="sr-only"
                                (change)="onFileSelected($event)">
                        </label>
                    </h3>
                    <p class="mt-1 text-xs text-gray-500">
                        PNG, JPG up to 2 MB
                    </p>
                </div>
                <img src="" class="mt-4 mx-auto max-h-40 hidden" id="preview" #previewImage>
            </div>
        </div>


        <!-- <div formArrayName="fields">
            <div *ngFor="let item of fields.controls; let i = index" [formGroupName]="i"
                class="grid gap-4 mb-4 border border-gray-500 p-4 rounded shadow-md">
                <h2 class="font-medium">Chapter {{ i+1 }}</h2>
                <div>
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                        Title*</label>
                    <input type="text" name="videoTitle" id="videoTitle" formControlName="videoTitle"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Title name">
                </div>
                <div>
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                        Message*</label>
                    <textarea id="videoDescription" rows="4" name="videoDescription" formControlName="videoDescription"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write your thoughts here..."></textarea>
                </div>

                <div class="flex justify-between">
                    <div>
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Video
                            Upload*</label>
                        <input type="file" (change)="onFileChange($event, i)" class="form-input" formControlName="files" />
                    </div>

                    <button type="button" (click)="removeFileds(i)"
                        class="px-4 py-2 h-[45px] text-white bg-red-500 rounded hover:bg-red-600 focus:outline-none focus:shadow-outline-red active:bg-red-800">
                        Remove
                    </button>
                </div>
            </div>
        </div> -->
        <!-- <div class="flex justify-center">
            <button type="button" (click)="addfields()" class="px-4 py-2 mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
                    <path
                        d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z">
                    </path>
                </svg>
            </button>
        </div> -->
        <div class="flex border-t py-5 justify-end">
            <button type="submit"
                class="px-4 py-2 mb-4 text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green active:bg-green-800">
                update course Information
            </button>
        </div>
    </form>
</section>