<section class="">
    <div class="container">
        <div class="card" style="--clr: #009688">
            <div class="img-box">
                <img
                    src="https://static.vecteezy.com/system/resources/previews/005/195/962/non_2x/student-holding-book-and-pen-study-from-online-tutorial-webinar-with-tablet-concept-illustration-free-vector.jpg">
            </div>
            <div class="content">
                <h2>Student</h2>
                <p class="text-center font-semibold text-md">
                    Explore your courses, assignments, and educational resources to
                    make the most of your learning experience.
                </p>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active">login</a>
            </div>
        </div>

        <div class="card" style="--clr: #FF3E7F">
            <div class="img-box">
                <img src="https://img.freepik.com/free-vector/teacher-concept-illustration_114360-1638.jpg">
            </div>
            <div class="content">
                <h2>Instructor</h2>
                <p class="text-center font-semibold text-md">
                    As an instructor, you play a crucial role in shaping the minds of future professionals.
                </p>
                <a [routerLink]="['/instructor/login']" routerLinkActive="router-link-active">login</a>
            </div>
        </div>
    </div>
</section>