<!-- <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 shadow-md rounded-md w-96">
        <h2 class="text-2xl font-semibold mb-6">Admin Login</h2>

        <form [formGroup]="adminLoginForm" (ngSubmit)="adminLoginSubmit()">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <div class="text-red-600"
                    *ngIf="adminLoginForm.controls['email'].touched && adminLoginForm.controls['email'].errors as emailErrors">
                    <div *ngIf="emailErrors['required']">Email is required</div>
                    <div *ngIf="emailErrors['pattern']">Invalid email</div>
                </div>
                <input type="text" id="username" formControlName="email"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <div class="text-red-600"
                    *ngIf="adminLoginForm.controls['password'].touched && adminLoginForm.controls['password'].errors as passwordErrors">
                    <div *ngIf="passwordErrors['required']">Password required</div>
                    <div *ngIf="passwordErrors['minlength']">Should have minimum 6 characters</div>
                    <div *ngIf="passwordErrors['maxlength']">Should have maximum 10 characters</div>
                </div>
                <input type="password" id="password" formControlName="password"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
            </div>

            <div class="flex items-center">
                <button type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
                    [disabled]="!adminLoginForm.valid">
                    Login
                </button>
            </div>
        </form>
    </div>
</div> -->

<section class="bg-blue-500 h-screen px-16">
    <div class="flex items-center justify-evenly h-screen">
        <div class="w-1/2 flex justify-center">
            <div class=" hidden md:block">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/admin-panel-4468588-3783961.png?f=webp"
                    alt="login image" class="h-full mx-auto rounded-full">
            </div>
        </div>
        <div class="md:w-1/2">
            <div class="p-10 w-full bg-gray-50 rounded-3xl">
                <div class="text-center pb-5">
                    <h2 class="text-3xl font-semibold mb-2">Welcome Back Admin</h2>
                    <p class="text-sm">Unlocking Knowledge, One Login at a Time.</p>
                </div>
                <form [formGroup]="adminLoginForm" (ngSubmit)="adminLoginSubmit()">
                    <div class="mb-4">
                        <div class="text-red-600 pl-5"
                            *ngIf="adminLoginForm.controls['email'].touched && adminLoginForm.controls['email'].errors as emailErrors">
                            <div *ngIf="emailErrors['required']">Email is required</div>
                            <div *ngIf="emailErrors['pattern']">Invalid email format</div>
                        </div>
                        <input type="email" id="email" formControlName="email"
                            class="w-full border rounded-full py-3 px-5 border-gray-400 focus:outline-none focus:border-black text-black"
                            placeholder="Email">
                    </div>

                    <div class="mb-4">
                        <div class="text-red-600 pl-5"
                            *ngIf="adminLoginForm.controls['password'].touched && adminLoginForm.controls['password'].errors as passwordErrors">
                            <div *ngIf="passwordErrors['required']">Password is required</div>
                        </div>
                        <input type="password" formControlName="password" id="password"
                            class="w-full border rounded-full py-3 px-5 border-gray-400 focus:outline-none focus:border-blue-500"
                            placeholder="Password">
                    </div>

                    <button type="submit" class="w-full bg-black text-white py-3 px-4 rounded-full">
                        Login
                    </button>
                    <p class="text-center p-5">
                        Forgot password
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

