<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 shadow-md rounded-md w-96">
        <h2 class="text-2xl font-semibold mb-6">Admin Login</h2>

        <form [formGroup]="adminLoginForm" (ngSubmit)="adminLoginSubmit()">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <div class="text-red-600"
                    *ngIf="adminLoginForm.controls['email'].touched && adminLoginForm.controls['email'].errors as emailErrors">
                    <div *ngIf="emailErrors['required']">Email is required</div>
                    <div *ngIf="emailErrors['pattern']">Invalid email</div>
                </div>
                <input type="text" id="username" formControlName="email"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <div class="text-red-600"
                    *ngIf="adminLoginForm.controls['password'].touched && adminLoginForm.controls['password'].errors as passwordErrors">
                    <div *ngIf="passwordErrors['required']">Password required</div>
                    <div *ngIf="passwordErrors['minlength']">Should have minimum 6 characters</div>
                    <div *ngIf="passwordErrors['maxlength']">Should have maximum 10 characters</div>
                </div>
                <input type="password" id="password" formControlName="password"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
            </div>

            <div class="flex items-center">
                <button type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
                    [disabled]="!adminLoginForm.valid">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>