<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 shadow-md rounded-md w-96">
        <h2 class="text-2xl font-semibold mb-6">Admin Login</h2>

        <form [formGroup]="adminLoginForm" (ngSubmit)="adminLoginSubmit()">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" id="username" formControlName="email"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">

            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" id="password" formControlName="password"
                    class="w-full border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
            </div>

            <div class="flex items-center">
                <button type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>