<section class="h-screen">

    <div class="banner w-full h-40 overflow-hidden relative">
        <img src="https://marketplace.canva.com/EAFqqGQof14/1/0/1600w/canva-blue-minimalist-abstract-wave-linkedin-banner-jFsA3DjIRXM.jpg"
            alt="">
    </div>

    <div class="w-[80%] mx-auto flex">
        <div class="w-2/5">
            <div class="h-52 w-52 mx-auto mt-[-90px] relative z-10 border-4 border-white rounded-full overflow-hidden">
                <img [src]="noprofile" alt="">
            </div>
        </div>
        <div class="pt-4 w-3/5">
            <div class="flex gap-5 items-center">
                <h2 class="font-bold text-2xl pb-2 uppercase">
                    {{ profile.fullName }}
                </h2>
                <button class="border-2 border-gray-400 p-2 rounded-md font-semibold" (click)="showDialog()">
                    <i class="pi pi-user-edit font-semibold"></i>
                    Edit
                </button>
            </div>

            <p class="font-semibold uppercase">{{ profile.headline }}</p>

        </div>
    </div>

    <div class="bg-gray-100 mt-3">
        <div class="w-[80%] mx-auto flex">
            <div class="w-2/5 p-5">
                <div class="my-3 flex gap-3">
                    <span><i class="pi pi-phone"></i></span>
                    <span class="font-semibold">{{ profile.mobile }}</span>
                </div>
                <div class="my-3 flex gap-3">
                    <span><i class="pi pi-send"></i></span>
                    <span class="font-semibold">{{ profile.email }}</span>
                </div>
            </div>
            <div class="w-3/5 p-5">
                <div class="flex gap-3">
                    <a [href]="profile.facebook" class="my-3 flex gap-3">
                        <span><i class="pi pi-facebook"></i></span>
                        <span class="font-semibold">facebook</span>
                    </a>
                    <a [href]="profile.instagram" class="my-3 flex gap-3">
                        <span><i class="pi pi-instagram"></i></span>
                        <span class="font-semibold">instagram</span>
                    </a>
                    <a [href]="profile.twitter" class="my-3 flex gap-3">
                        <span><i class="pi pi-twitter"></i></span>
                        <span class="font-semibold">twitter</span>
                    </a>
                    <a [href]="profile.linkedin" class="my-3 flex gap-3">
                        <span><i class="pi pi-linkedin"></i></span>
                        <span class="font-semibold">linkedin</span>
                    </a>
                    <a [href]="profile.website" class="my-3 flex gap-3">
                        <span><i class="pi pi-globe"></i></span>
                        <span class="font-semibold">website</span>
                    </a>
                </div>
                <h3 class="font-semibold mb-3">
                    Biography
                </h3>
                <p>
                    {{ profile.biography }}
                </p>
            </div>
        </div>
    </div>
</section>


<div class="card flex justify-content-center">
    <form [formGroup]="profileForm" (ngSubmit)="profileUpdate()">
        <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <span class="font-bold white-space-nowrap">Add Profile Details</span>
                </div>
            </ng-template>
            <ng-container>
                <div class="mb-6">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full
                        name</label>
                    <input type="text" id="first_name" formControlName="fullName"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="student" required>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="mobile"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mobile</label>
                        <input type="text" id="mobile" formControlName="mobile"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="**********" required>
                    </div>
                    <div>
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" id="email" formControlName="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="student.@gmail.com" required>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="headline"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Headline</label>
                    <input type="text" id="headline" formControlName="headline"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="senior software developer" required>
                </div>
                <div class="mb-6">
                    <label for="biography"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Biography</label>
                    <textarea id="biography" cols="30" rows="10" placeholder="biography" formControlName="biography"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required></textarea>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="linkedin"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Linkedin</label>
                        <input type="text" id="linkedin" formControlName="linkedin"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="https://...." required>
                    </div>
                    <div>
                        <label for="twitter"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Twitter</label>
                        <input type="text" id="twitter" formControlName="twitter"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="https://..." required>
                    </div>
                    <div>
                        <label for="facebook"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Facebook</label>
                        <input type="text" id="facebook" formControlName="facebook"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="https://..." required>
                    </div>
                    <div>
                        <label for="instagram"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Instagram</label>
                        <input type="text" id="instagram" formControlName="instagram"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="https://..." required>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="website"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Website</label>
                    <input type="text" id="website" formControlName="website"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="https://..." required>
                </div>
                <div class="mb-6">
                    <label for="profile_Image"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profile image</label>
                    <input type="file" (change)="fileChangeEvent($event)" />
                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [aspectRatio]="3 / 3" format="png" (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"></image-cropper>
                        <img [src]="croppedImage" />
                    </div>
                </div>
            </ng-container>
            <ng-template pTemplate="footer">
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </ng-template>
        </p-dialog>
    </form>
</div>