<div class="max-w-md mx-auto bg-white shadow-md overflow-hidden rounded-lg">
    <img class="w-full h-32 object-cover" src="" alt="Course Image">
    <div class="p-6">
        <!-- <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Title</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.courseName }}</p>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Description</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.courseDescription }}</p>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Category</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.courseCategory }}</p>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Price</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.coursePrice }}</p>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Estimated Price</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.estimatedPrice }}</p>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Tags</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.courseTags }}</p>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Level</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.information.courseLevel }}</p>

        <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">Course Content</h2>

        <h2 class="text-md font-semibold text-gray-800 dark:text-white mb-2">Course Title</h2>
        <p class="text-gray-600 dark:text-gray-400 text-sm mb-4">{{ courseData.content.fields }}</p> -->



        <!-- <div class="mb-4">
            <label class="text-gray-600 dark:text-gray-400 text-sm">Price:</label>
            <p class="text-green-500 font-semibold">$49.99</p>
        </div>

        <div class="mb-4">
            <label class="text-gray-600 dark:text-gray-400 text-sm">Description:</label>
            <p class="text-gray-800 dark:text-white">
                A comprehensive course covering web development technologies including HTML, CSS, and JavaScript.
            </p>
        </div> -->
    </div>
</div>


<div class="flex justify-between my-5">
    <button type="submit" [routerLink]="['/instructor/create/content']" routerLinkActive="router-link-active"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        prev: course content
    </button>
    <button type="submit" (click)="courseSubmit()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
    </button>
</div>

<div class="w-full bg-gray-200 rounded-full dark:bg-gray-700" *ngIf="progressbar !== 0">
    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
        [style.width]="progressbar"> {{ progressbar }}%</div>
</div>